[user]
    name = Muhammad Hallaj bin Subery
    email = hallajs@gmail.com

[alias]

[color]
    branch = auto
    status = auto
    interactive = auto
    diff = auto
    ui = auto

[core]
    compression = 5
    editor = vim
    excludesfile = ~/.gitignore
    trustctime = false

[push]
    default = simple

[pull]
    rebase = true

[svn]
    rmdir = true

[status]
    short = false
    branch = true
    relativePaths = true
