! Hallaj ~/.Xresources

! Xft
Xft.antialias:          true
Xft.autohint:           false
Xft.dpi:                96
Xft.hinting:            true
Xft.hintstyle:          hintslight
Xft.rgba:               rgb

! rxvt-unicode
URxvt.iconFile:         /usr/share/icons/hicolor/scalable/apps/terminator.svg
URxvt.termName:         rxvt-256color
!URxvt.background:       [95]#000000
!URxvt.depth:            32
URxvt.scrollBar:        false
URxvt.inheritPixmap:    false
URxvt.transparent:      false
URxvt.tintColor:        white
URxvt.shading:          85
URxvt.geometry:         150x50
URxvt.buffered:         true
URxvt.borderLess:       true
URxvt.loginShell:       false
URxvt.font:             xft:Inconsolata for Powerline:pixelsize=13:antialias=true:hinting=true
URxvt.boldFont:         xft:Inconsolata for Powerline:pixelsize=13:antialias=true:hinting=true
URxvt.urlLauncher:      x-www-browser
URxvt.underlineURLs:    true
URxvt.perl-ext-common:  default,matcher,selection-to-clipboard,tabbed
URxvt.colorUL:          #4682B4
URxvt.letterSpace:      0
URXvt.urgentOnBell:     true

! rxvt-unicode tabbed
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    7
URxvt.tabbed.tab-bg:    0

! includes
!#include ".Xresources.d/solarized-dark"
!#include ".Xresources.d/solarized-light"
#include ".Xresources.d/zenburn"
!#include ".Xresources.d/base16-monokai-256"
!#include ".Xresources.d/base16-grayscale-dark-256"
